ADAPT/tests.txt
/test_results/
RealWorldAnalysis/HeaderConfigurationsAnalysis/bq_result.json
RealWorldAnalysis/HeaderConfigurationsAnalysis/query_result.json
ADAPT.zip
RealWorldAnalysis.zip
Spill.zip
XCLMitigation.zip
*.log
artifact_appendix
latex
android-sdk/
.android/
*.avd
avd.conf
