
**/node_modules/
ADAPT/tests.txt
/test_results/
RealWorldAnalysis/HeaderConfigurationsAnalysis/bq_result.json
RealWorldAnalysis/HeaderConfigurationsAnalysis/query_result.json
RealWorldAnalysis/IframeConfigurationAnalysis/evaluator_sample_output/
ADAPT.zip
RealWorldAnalysis.zip
Spill.zip
XCLMitigation.zip
emulator.zip
CrossContextAccountOracle.zip
*.log
artifact_appendix
latex
android-sdk/
.android/
*.avd
avd.conf
emulator/android-sdk/system-images/
emulator/apks
ADAPT/server/__pycache__
ADAPT/server/results.db
ADAPT/server/results_debug.db
apks
apks.zip
*/.gradle/

# Python virtualenv (created by setup.sh)
ADAPT/server/.venv/
