ADAPT/tests.txt
/test_results/
RealWorldAnalysis/HeaderConfigurationsAnalysis/bq_result.json
RealWorldAnalysis/HeaderConfigurationsAnalysis/query_result.json
ADAPT.zip
RealWorldAnalysis.zip
Spill.zip
XCLMitigation.zip
*.log
artifact_appendix
latex
android-sdk/
.android/
*.avd
avd.conf
emulator/android-sdk/system-images/
emulator/apks
ADAPT/server/__pycache__
ADAPT/server/results.db
ADAPT/server/results_debug.db
apks

# Python virtualenv (created by setup.sh)
ADAPT/server/.venv/
