<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>a.com</h1>
    <form>
        <label for="example_user">Username:</label>
        <input type="text" id="a_user" name="a_username" autocomplete="email">
        <br><br>

        <label for="example_pass">Password:</label>
        <input type="password" id="a_pass" name="a_password" autocomplete="password">
        <br><br>
        <div id="status"></div>
        <object data="https://b.com/b/simple_login" width="500" height="500"></object>
    </form>
</body>
</html>
